<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/base::head(dark)">
	<meta charset="UTF-8"/>
</head>
<body>

	<div class="container">
		<div class="card bg-dark">
			<div class="card-header">
				<h3>Lista de Reservas</h3>
				<a th:href="@{logout}" class="btn btn-outline-danger">Log Out</a></td>
			</div>
			<div class="card-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Reserva Id</th>
							<th>Puerta Id</th>
							<th>Email Inquilino</th>
							<th>Email Propietario</th>
							<th>Email Administrador</th>
							<th>Fecha Entrada</th>
							<th>Fecha Salida</th>
							<th>-</th>
							<th>-</th>			
						</tr>
					</thead>
					<tbody>
						<tr th:each="reserva: ${reservas}">
							<td th:text="${reserva.idReserva}"></td>
							<td th:text="${reserva.idPuerta}"></td>
							<td th:text="${reserva.emailInquilino}"></td>
							<td th:text="${reserva.emailPropietario}"></td>
							<td th:text="${reserva.emailAdministrador}"></td>
							<td th:text="${reserva.entrada}"></td>
							<td th:text="${reserva.salida}"></td>
							<td><a th:href="@{editar/} + ${reserva.idReserva}" class="btn btn-outline-primary">Editar</a></td>
							<td><a th:href="@{eliminar/} + ${reserva.idReserva}" class="btn btn-outline-danger">Eliminar</a></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="5">
								<a th:href="@{crear}" class="btn btn-outline-primary btn-block" >Añadir</a>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</body>
</html>