<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/base::head(dark)">
	<meta charset="UTF-8"/>
</head>
<body>
	<header th:replace="layouts/base::header(dark)"></header>

	<div class="container">
		<div class="card bg-dark">
			<div class="card-header">
				<h3 th:text="#{puertas.lista.titulo}"></h3>
			</div>
			<div class="card-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th th:text="#{puertas.puerta.id}"></th>
							<th th:text="#{puertas.puerta.emailPropietario}"></th>
							<th th:text="#{puertas.puerta.emailAdministrador}"></th>
							<th th:text="#{puertas.puerta.ubicacion}"></th>
							<th>-</th>
							<th>-</th>			
						</tr>
					</thead>
					<tbody>
						<tr th:each="puerta: ${puertas}">
							<td th:text="${puerta.idPuerta}"></td>
							<td th:text="${puerta.emailPropietario}"></td>
							<td th:text="${puerta.emailAdministrador}"></td>
							<td th:text="${puerta.ubicacion}"></td>
							<td><a th:href="@{editar/} + ${puerta.idPuerta}" th:text="#{puertas.acciones.editar}" class="btn btn-outline-primary"></a></td>
							<td><a th:href="@{eliminar/} + ${puerta.idPuerta}" th:text="#{puertas.acciones.eliminar}" class="btn btn-outline-danger"></a></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="5">
								<a th:href="@{crear}" class="btn btn-outline-primary btn-block" th:text="#{puertas.acciones.anadir}"></a>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
	<footer th:replace="layouts/base::footer(dark)"></footer>
</body>
</html>